{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<!-- Custom CSS for Wallet page -->
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
<!-- Page header -->
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Main content -->
<div class="overlay"></div>
<div class="container mb-5">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">My Wallet</h2>
            <hr>
        </div>
    </div>
    {% if checkWallet %}
    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="card">
              <div class="card-body">
                <b>{{ getWallet.name }} (****{{ getWallet.card_number|slice:"-4:" }})</b><hr>
                  <form action="{% url 'delete_wallet' %}" method="POST">{% csrf_token %}
                      <a href="{% url 'add_wallet' %}" class="btn btn-primary">Edit</a>
                      <input name="wallet_id" value="{{ getWallet.id }}" type="hidden">
                      <button class="btn btn-danger" type="submit">Delete</button>

                  </form>

              </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col">
            <hr>
            <h4 class="logo-font mb-4">NO Card added!</h4>
            <a href="{% url 'add_wallet' %}" class="btn btn-warning">Add Wallet</a>
            <hr>
        </div>
    </div>
    {% endif %}
</div>
<hr>


{% endblock %}

{% block postloadjs %}
{{ block.super }}
<!-- Additional JavaScript for Wallet page -->
<script src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}